.wrapper {
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background-color: white;
    .title {
      color: #89c441;
    }
  }
}
.text {
  &:hover {
    text-decoration: none;
  }
}

.primaryColor {
  background-color: var(--primary-color);
}
.loginButton {
  width: 160px !important;
  .title {
    font-weight: 400;
  }
}
.title {
  color: var(--text-color);
  font-weight: 700;
}
.log-out {
}
